<div class="container">
  <div id="questionShowCard">
    <h3><%= @question.title %></h3>
    <p><%= @question.content %></p>
    <p><small>View Count: <%= @question.view_count %></small></p>
    <%= link_to 'edit', edit_question_path, class: 'btn btn-info' %>
    <%= link_to 'delete', @question,
    method: :delete,
    data: {confirm: 'Delete this question?'},
    class: 'btn btn-danger' %>
  </div>
</div>
