<div class="container" id="questionShowContainer">
  <div id="questionShowCard">
    <h3>
      <%= @question.title %>
      <span class="viewCount"><small>view: <%= @question.view_count %></small></span>
    </h3>
    <p class="content"><%= @question.content %></p>

    <div class="dateInfo">
      <span class="badge badge-success">Created: <%= @question.created_at.strftime('%d %b %Y %l:%M %p') %></span>
      <span class="badge badge-info">Updated: <%= @question.updated_at.strftime('%d %b %Y %l:%M %p') %></span>
    </div>
    <%= link_to 'edit', edit_question_path, class: 'btn btn-info btn-sm' %>
    <%= link_to 'delete', @question,
    method: :delete,
    data: {confirm: 'Delete this question?'},
    class: 'btn btn-danger btn-sm ml-2' %>
  </div>

  <div id="answerForm" class="mt-3">
    <%= form_for [@question, @answer] do |f| %>
      <%= render 'shared/error_messages', target: @answer %>

    <div class="form-group">
      <%= f.label 'your answer' %>
      <%= f.text_area :body, class: 'form-control' %>
    </div>

    <%= f.submit 'submit', class: 'btn btn-secondary btn-sm questionBtn' %>
    <% end %>
  </div>

  <div id="answerShowCard" class="mt-3">
    <h5>Answers:</h5>
    <% @answers.each do |answer| %>
    <div class="answerBlock">
      <p> <%= answer.body %> </p>
      <p> <%= answer.created_at.strftime('%d %b %Y %l:%M %p') %> </p>
    <% end %>
  </div>
</div>
