<% provide(:title, @user.name) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1><%= @user.name %></h1>
      <h3> <%= @user.email %> </h3>
      <p> <b>Created at:</b> <%= @user.created_at.strftime('%e %b %Y %H:%M %p') %></p>
      <p> <b>Updated at:</b> <%= @user.updated_at.strftime('%e %b %Y %H:%M %p') %></p>
      <br />
      <p><b>Current time:</b> <%= Time.now.strftime('%e %b %Y %H:%M:%S%p') %></p>

    </section>
  </aside>
</div>
